<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <footer class="footer">
    <div class="fixed-bottom">
    <div class="container">
      <p>&copy; <%= Time.now.year %> Y. All rights reserved.</p>
    </div>
    </div>
    </footer>
  </body>
</html>